.dayStyle:hover {
  background-image: url('../../../../public/calendar/plus-icon-transparent.jpg');
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  background-color: #e7ebe7;
}
